header {
    background-color: white;
    width: 100%;
    position: fixed;
    padding-bottom: 10px;
    top: 0;
    height: 100px;
}
header section {
    display: inline-block;
}

#logo{
    display: inline;
}
#title p{
    text-align: left;
    margin-left: 10px;
}
h3{
    font-family: 'Yellowtail', cursive;
    margin-bottom: -30px;
    font-size: 40px;
}
h4{
    font-family: 'Open Sans Condensed', sans-serif;
    color: gray;
}
nav ul li {
    list-style: none;
    display: inline;
    right: 20px;
}
#nav-bar{
    float:right;
    margin-top: 28px;
    margin-right: 5px;
}
#rss-icon{
    padding-left: 15px;
}
main{
    margin-top:150px;;
}
h1{
    font-family: 'Francois One', sans-serif;
    color: black;
    font-size: 45px;
    margin-bottom: -25px;
}
h2{
    font-family: 'Open Sans Condensed', sans-serif;
    color: gray;
    font-size: 19px;
}
.chocolate-pizza{
    display: inline-block;
}
.print{
    display: inline-block;
    float: right;
    color: gray;
    margin-top: 85px;
    font-family: 'Open Sans Condensed', sans-serif;
}
.print-act{
    display: inline-block;
}
#pizza{
    width: 100%;
}
.recipe{
    text-align: justify;
}
.recipe p {
    text-indent: 30px;
}
.checkbox-lists{
    background-image: url(/img/list-bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 300px;
    /* background-position: 50% 50%; */
}
.checkbox-lists article{
    display: inline-block;
    padding-top: 50px;
}
.checkbox-lists article label{
    padding-bottom: 20px;
}

#left{
    margin-left: 150px;
    font-size: x-large;
}
#right{
    margin-left: 300px;
    font-size: x-large;
}
.checkbox-lists article input:checked + label {
    text-decoration: line-through;
}

.hr{
    display: block;
    background: url(/img/hr-img.png);
    background-repeat: repeat-x;
    background-size: 10px;
    margin-top: 20px;
}
#vanessa{
    display: inline;
}
.profile{
    display: inline-block;
}
#button{
    float: right;
    margin-top: 30px;
}
#share{
    width: 170px;
    height: 50px;
    background-color: brown;
    color: white;
}
footer p{
    color:gray;
    font-size: large;
}
h5{
    font-size: x-large;
    font-weight: bold;
    color: black;
    margin-bottom: -10px;
}
footer #rights{
    text-align: center;
    align-content: center;
    margin-top: 60px;
    border-top: 1px solid lightgray;

}
#small-logo {
    border: 10px solid;
    border-color: white;
    margin-top: -26px;
}
