header {
    background-color: white;
    width: 92%;
    position: absolute;
    padding-bottom: 10px;
    top: 0;
    height: 100px;
    margin-right: 4%;
    margin-left: 4%;
}
header section {
    display: inline-block;
}

#logo{
    display: inline;
}
#title p{
    text-align: left;
    margin-left: 10px;
}
h3{
    font-family: 'Yellowtail', cursive;
    margin-bottom: -30px;
    font-size: 40px;
}
h4{
    font-family: 'Open Sans Condensed', sans-serif;
    color: gray;
}
nav ul li {
    list-style: none;
    display: inline;
    right: 20px;
}

#nav-bar {
    display: inline-block;
    /* float: right; */
    /* margin-top: 28px; */
    margin-left: 52%;
}
#rss-icon{
    padding-left: 15px;
}
main{
    margin-top:150px;
    margin-right: 4%;
    margin-left: 4%;
}
h1{
    font-family: 'Francois One', sans-serif;
    color: black;
    font-size: 45px;
    margin-bottom: -25px;
}
h2{
    font-family: 'Open Sans Condensed', sans-serif;
    color: gray;
    font-size: 19px;
}
.chocolate-pizza{
    display: inline-block;
}
.print{
    display: inline-block;
    float: right;
    color: gray;
    margin-top: 85px;
    font-family: 'Open Sans Condensed', sans-serif;
}
.print-act{
    display: inline-block;
}
#pizza{
    width: 100%;
}
.recipe{
    text-align: justify;
}
.recipe p {
    text-indent: 30px;
}
.checkbox-lists{
    background: url(/img/list-bg.png) bottom center no-repeat;
    height: 300px;
    position: relative;
}
.checkbox-lists article{
    display: inline-block;
    padding-top: 25px;
    font-size: medium;
    padding-bottom: 50px;

}
.checkbox-lists article input {
    margin-top: 15px;
}
#left{
    margin-left: 180px;
}
#right{
    margin-left: 300px;
}
.checkbox-lists article input:checked + label {
    text-decoration: line-through;
}

.hr{
    display: block;
    background: url(/img/hr-img.png);
    background-repeat: repeat-x;
    background-size: 5px;
    margin-top: 20px;
}
footer{
    padding-right: 4%;
    padding-left: 4%;
}
#vanessa{
    display: inline;
}
.profile{
    display: inline-block;
}
#button{
    float: right;
    margin-top: 30px;
}
#share{
    width: 170px;
    height: 50px;
    background-color: brown;
    color: white;
}
footer p{
    color:gray;
    font-size: large;
}
h5{
    font-size: x-large;
    font-weight: bold;
    color: black;
    margin-bottom: -10px;
}
footer #rights{
    text-align: center;
    align-content: center;
    margin-top: 60px;
    border-top: 1px solid lightgray;

}
#small-logo {
    border: 10px solid;
    border-color: white;
    margin-top: -26px;
}
